/* Base of the button container.
  - creates a modern style button with rounded edges
  - changes user cursor to a pointer when over button
  - manages the transitions */
.button {
  border-radius: 4px;
  background-color: #4979ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
/* Ensures that the button remains inline. */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
/* The creation of the >> effect and pushes button text. */
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
/* When the user hovers over the button,
  the padding of the original button text changes. */
.button:hover span {
  padding-right: 25px;
}
  
/* When the user hovers over the button,
  the span:after portion (line 53) becomes visible. */
.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add a border line to the title. */
.title {
  color: #333;
  border-bottom: 1px solid rgb(107, 107, 107);
  padding-bottom: 15px;
}